*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  width: 100%;
  /*height: 600px;*/
  background-color: white;
}
.clearfix{
  content: '';
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
a{
  text-decoration: none;
}
.fa-angle-down{
  font-size: 20px;
}
ul li{
  display: inline-block;
}


header{
  width: 100%;
  height: 800px;
/*  background-color: black;*/
}
.container{
  width: 100%;
  margin: 0 auto;
}
.fixed{
  width: 100%;
  margin: 0 auto;
  background-color: #F4F9FD;
  position: fixed;
  top: 0;
  left:0;
  z-index: 1;
}
.box-left{
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
}
.box-lang{
  width: 50%;
  padding-top: 25px;
  padding-left: 10%;

}
.box-lang ul li a{
  font-weight: 600;
  font-size: 16px;
  color: #33475C;
  padding-right: 20px;
}
.box-lang ul li i{
  padding-left: 5px;
}

.box-login{
  width: 50%;
  padding-right: 10%;
  text-align: right;
}
.box-login ul li{
  list-style: none;
  display: inline-block;
  padding-right:  20px;

}
.box-login ul{
  text-align: right;
  padding-top:  25px ;
}
.box-login ul li a{
  font-weight: 600;
}
.box-login ul li i{
  color: #2AB3C8;
}
.btn-w{
  border: 2px solid #FF7A59;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
}
#login{
  color: #FF7A59;
}
.btn-o{
  border: 2px solid #FF7A59;
  padding: 7px;
  border-radius: 5px;
  background-color: #FF7A59;
}
#hubspot{
  color: white;
}

.menu-logo{
  margin-top: 75px;
  position: relative;
  width:100%;

}
.logo{
  width: 45%;
  padding-left: 10%;
}
.logo img{
  padding-top: 25px;
}
.menu{
  width: 55%;
  padding-right: 10%;
  text-align: right;
}
.menu ul {
  text-align: right;
  padding: 30px 0;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}
.menu ul li a{
  font-weight: 600;
  color: #33475B;
}
.menu span{
  padding: 0 10px;
}
.jumbotron{height: 690px;
 background-image: url('../img/jumbotron.png');
 background-repeat: no-repeat;
 background-position: 100% 100%;
 background-color: #FFF5EE;
 position: relative;
 z-index: 0;
}
.green-bar{
  height: 88px;
  width: 100%;
  background-color: #AFEBE4;
  border-top:  3px solid #33475C;
  border-bottom:  3px solid #33475C;
  left: 0%;
  top: 88%;
  position: absolute;
}
.title-box{
  height: 500px;
  width:  600px;
  position: absolute;
  left: 10%;
}
.title-box h1{
  padding-top: 50px;
  font-size: 50px;
  color: #33475C;
}
.title-box p{
  padding-top: 25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  color: #33475C;
}
.btn-big a.btn-o{
  padding: 20px;
  font-weight: 600;
  background-color: #FF7A59;
  border: 2px solid #FF7A59;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 0;
}
.free p{
  position: absolute;
  top: 72%;
  font-size: 10px;
}
