*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  width: 100%;
  /*height: 600px;*/
  background-color: white;
}
.clearfix{
  content: '';
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
a{
  text-decoration: none;
}
.fa-angle-down{
  font-size: 20px;
}



header{
  width: 100%;
  height: 800px;
/*  background-color: black;*/
}
.fixed{
  width: 100%;
  height: 75px;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  /*position: fixed;*/
}
.box-left{
  padding-left: 250px;
}
.box-lang{
  width: 150px;
  padding-top: 25px;
  padding-right: 3px;
  text-align: center;
}
.contacts{
  width: 150px;
  text-align: center;
  padding-top: 25px;

}

.languages p{
 border-right: 1px solid #33475B;
 font-weight: 600;
 color: #33475B;

}
.contacts a{
  font-weight: 600;
  color: #33475B;
}
.box-login{
  width: 35%;
  padding-right: 150px;
}
.box-login ul li{
  list-style: none;
  display: inline-block;
  padding-left: 25px;
}
.box-login ul{
  text-align: center;
  padding: 25px 0;
}
.box-login ul li a{
  font-weight: 600;
}
.box-login ul li i{
  color: #2AB3C8;
}
.btn-w{
  border: 2px solid #FF7A59;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
}
#login{
  color: #FF7A59;
}
.btn-o{
  border: 2px solid #FF7A59;
  padding: 7px;
  border-radius: 5px;
  background-color: #FF7A59;
}
#hubspot{
  color: white;
}
.menu-logo{
  position: relative;
  width:100%;
}
.logo{
  padding-left: 250px;
}
.logo img{
  width: 140px;
  padding-top: 25px;
  padding-left: 27px;
}
.menu{
  width: 55%;
  padding-right: 70px;
}
.menu ul {
  text-align: center;
  padding: 30px 0;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  padding-right: 35px;
}
.menu ul li a{
  font-weight: 600;
  color: #33475B;
}
.menu span{
  padding: 0 10px;
}
.jumbotron{height: 690px;
 background-image: url('../img/jumbotron.png');
 background-repeat: no-repeat;
 background-position: 100% 100%;
 background-color: #FFF5EE;
 position: relative;
 z-index: 0;
}
.green-bar{
  height: 88px;
  width: 100%;
  background-color: #AFEBE4;
  border-top:  3px solid #33475C;
  border-bottom:  3px solid #33475C;
  left: 0%;
  top: 88%;
  z-index: 1;
  position: absolute;
}
.title-box{
  height: 500px;
  width:  600px;
  position: absolute;
  left: 270px;
}
.title-box h1{
  padding-top: 50px;
  font-size: 50px;
  color: #33475C;
}
.title-box p{
  padding-top: 25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  color: #33475C;
}
.btn-big a.btn-o{
  padding: 20px;
  font-weight: 600;
  background-color: #FF7A59;
  border: 2px solid #FF7A59;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 0;
}
.free p{
  position: absolute;
  top: 72%;
  font-size: 10px;
}
