*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  width: 1500px;
  height: 600px;
  background-color: white;
}
.clearfix{
  content: '';
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
a{
  text-decoration: none;
}




header{
  width: 100%;
  height: 800px;
  background-color: black;
}
.fixed{
  width: 100%;
  height: 75px;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
/*  position: fixed;*/
}
.box-lang{
  width: 150px;
  padding-top: 25px;
  padding-right: 3px;
  text-align: center;
}
.contacts{
  width: 150px;
  text-align: center;
  padding-top: 25px;

}

.languages p{
 border-right: 1px solid #33475B;
 font-weight: 600;
 color: #33475B;

}
.contacts a{
  font-weight: 600;
  color: #33475B;
}
.box-login{
  width: 35%;
}
.box-login ul li{
  list-style: none;
  display: inline-block;
  padding-left: 25px;
}
.box-login ul{
  text-align: center;
  padding: 25px 0;
}
.box-login ul li a{
  font-weight: 600;
}
.box-login ul li i{
  color: #2AB3C8;
}
.btn-w{
  border: 2px solid #FF7A59;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
}
#login{
  color: #FF7A59;
}
.btn-o{
  border: 2px solid #FF7A59;
  padding: 7px;
  border-radius: 5px;
  background-color: #FF7A59;
}
#hubspot{
  color: white;
}
.menu-logo{
  width:100%;
  height: 50px;

}
.logo{
  background-color: white;
}
.logo img{
  width: 140px;
  padding-top: 25px;
  padding-left: 27px;
}
.menu{
  width: 45%;
  background-color: violet;
}
.menu ul {
  text-align: center;
  padding: 25px 0;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  padding-left: 25px;
}
